<div th:fragment="common-form">
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" class="form-control" th:field="*{nome}" required="required" />
  </div>
  <div class="form-group">
    <label>CPF:</label>
    <input type="text" id="cpf" class="form-control" th:field="*{cpf}" required="required" />
  </div>
  <div class="form-group">
    <label>Data de Admissão:</label>
    <input type="text" class="form-control date-input" th:field="*{dataAdmissao}" required="required" />
  </div>
  <div class="form-group">
    <label>Função Exercida:</label>
    <input type="text" class="form-control" th:field="*{funcaoExercida}" required="required" />
  </div>
  <div class="form-group">
    <label>Remuneração:</label>
    <input type="text" class="form-control input-remuneracao" th:field="*{remuneracao}" required="required" />
  </div>
  <div class="form-group">
    <label>Departamento:</label>
    <input type="text" class="form-control" th:field="*{departamento}" required="required" />
  </div>
</div>

<section  th:fragment="colaborador-form-field">
  <section id="supervisor-chefe-section" class="overflow-auto selection-section selection-colaborador">
    <p class="mt-2">Supervisores disponíveis. Caso não haja nenhum, o colaborador será submetido diretamente ao presidente.</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div th:each="supervisor:${supervisores}" class="div-radio div-radio-supervisor form-check">
        <input type="checkbox" name="supervisor-chefe" th:value="${supervisor.getId()}" th:field="*{superiorDireto}" class="radio-input superior-selection"/>
        <p th:text="'ID: ' + ${supervisor.getId()}"></p>
        <p th:text="'Nome: ' + ${supervisor.getNome()}"></p>
        <p th:text="'CPF: ' + ${supervisor.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${supervisor.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
  <section th:if="${isUpdate}" class="overflow-auto selection-section selection-colaborador colaborador-subordinado-section">
    <p class="mt-2">Colaboradores subordinados:</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div th:each="funcionario:${funcionariosMedios}"
           th:if="${(funcionario.superiorDireto != null or funcionario.superiorDireto.nome == colaborador.nome) && funcionario.nome != colaborador.nome}"
           class="div-checkbox form-check">
        <input type="checkbox" name="subordinados" th:value="${funcionario.getId()}"  th:field="*{subordinados}" class="checkbox-input"/>
        <p th:text="'ID: ' + ${funcionario.getId()}"></p>
        <p th:text="'Nome: ' + ${funcionario.getNome()}"></p>
        <p th:text="'CPF: ' + ${funcionario.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${funcionario.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
</section>

<section th:fragment="supervisor-form-fields">
  <section id="gerente-chefe-section" class="overflow-auto selection-section selection-supervisor">
    <p class="mt-2">Gerentes disponíveis. Caso não haja nenhum, o colaborador será submetido diretamente ao presidente.</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div th:each="gerente:${gerentes}" class="div-radio div-radio-gerente form-check">
        <input type="checkbox" name="gerente-chefe" th:value="${gerente.getId()}" th:field="*{superiorDireto}" class="radio-input superior-selection"/>
        <p th:text="'ID: ' + ${gerente.getId()}"></p>
        <p th:text="'Nome: ' + ${gerente.getNome()}"></p>
        <p th:text="'CPF: ' + ${gerente.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${gerente.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
  <section th:if="${isUpdate}" class="overflow-auto selection-section selection-supervisor colaborador-subordinado-section">
    <p class="mt-2">Colaboradores subordinados a este supervisor:</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div th:each="funcionario:${funcionariosMedios}" th:if="${funcionario.superiorDireto != null || funcionario.superiorDireto.nome == colaborador.nome}" class="div-checkbox form-check">
        <input type="checkbox" name="subordinados" th:value="${funcionario.getId()}"  th:field="*{subordinados}" class="checkbox-input"/>
        <p th:text="'ID: ' + ${funcionario.getId()}"></p>
        <p th:text="'Nome: ' + ${funcionario.getNome()}"></p>
        <p th:text="'CPF: ' + ${funcionario.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${funcionario.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
</section>

<section th:fragment="gerente-form-field">
  <section id="presidente-chefe-section" class="overflow-auto selection-section selection-gerente">
    <p class="mt-2">Todos os gerentes são subordinados diretamente ao presidente!</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div class="box-colorized div-radio-gerente form-check div-checkbox-selected div-radio">
        <input type="checkbox" name="presidente-chefe" th:value="${presidente.getId()}"  class="radio-input superior-selection" checked aria-readonly="true"/>
        <p th:text="'ID: ' + ${presidente.getId()}"></p>
        <p th:text="'Nome: ' + ${presidente.getNome()}"></p>
        <p th:text="'CPF: ' + ${presidente.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${presidente.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
  <section th:if="${isUpdate}" id="supervisor-subordinado-section" class="overflow-auto selection-section selection-gerente">
    <p class="mt-2">Supervisores subordinados a este gerente:</p>
    <div  class="container-boxes d-flex justify-content-start gap-2">
      <div th:each="supervisor:${supervisores}" th:if="${supervisor.superiorDireto != null or supervisor.superiorDireto.nome == colaborador.nome}" class="div-checkbox form-check">
        <input type="checkbox" name="subordinados" th:value="${supervisor.getId()}" th:field="*{subordinados}" class="checkbox-input"/>
        <p th:text="'ID: ' + ${supervisor.getId()}"></p>
        <p th:text="'Nome: ' + ${supervisor.getNome()}"></p>
        <p th:text="'CPF: ' + ${supervisor.getCpf()}"></p>
        <p th:text="'Nível Hierárquerico: ' + ${supervisor.getNivelHierarquico()}"></p>
      </div>
    </div>
  </section>
</section>

