<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark" data-bs-theme="dark">
  <a class="navbar-brand ms-4" href="#">Gerenciador de Funcionários</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/colaborador/lista}">Listagem de Colaboradores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/colaborador/solucaodeconflitos}">Resolução de conflitos</a>
      </li>
    </ul>
  </div>
  <form th:action="@{/colaborador/lista}" th:method="POST" class="d-flex me-4" role="search">
    <input class="form-control me-2" name="ano" type="text" placeholder="Insira um ano para filtrar..." aria-label="Search">
    <button class="btn btn-light" type="submit">Pesquisar</button>
  </form>
</nav>