<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Colaboradores</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css}">
</head>
<body>
<nav th:replace="~{fragments/nav-fragment :: nav}"></nav>
    <div class="container my-5 mx-auto">
        <h2 class="mb-4">Cadastro de Colaboradores</h2>
        <form th:if="${!isUpdate}" id="form-main" th:object="${colaborador}" th:action="@{/colaborador/save}" th:method="POST">
            <div th:replace="~{fragments/common-form-fields :: common-form}"></div>
            <section id="gerente-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="gerente" value="Gerente">
                    <label class="form-check-label" for="gerente">
                        Gerente
                    </label>
                </div>
                <section th:replace="~{fragments/common-form-fields :: gerente-form-field}"></section>
            </section>
            <section id="supervisor-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="supervisor" value="Supervisor">
                    <label class="form-check-label" for="supervisor">
                        Supervisor
                    </label>
                </div>
                <section th:replace="~{fragments/common-form-fields :: supervisor-form-fields}"></section>
            </section>
            <section id="colaborador-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="colaborador" value="Colaborador">
                    <label class="form-check-label" for="colaborador">
                        Colaborador
                    </label>
                </div>
                <section th:replace="~{fragments/common-form-fields :: colaborador-form-field}"></section>
            </section>
            <button type="submit" class="btn btn-primary my-3 submit-form-btn">Cadastrar</button>
        </form>
    </div>
    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script th:src="@{/register-common-scripts.js}"></script>
    <script>
        const selectionColaborador = document.querySelectorAll(".selection-colaborador")
        const selectionSupervisor = document.querySelectorAll(".selection-supervisor")
        const selectionGerente = document.querySelectorAll(".selection-gerente")

        window.onload = function(){
            selectionColaborador.forEach(element => element.classList.add("d-none"));
            selectionSupervisor.forEach(element => element.classList.add("d-none"));
            selectionGerente.forEach(element => element.classList.add("d-none"));
        }

        const radioInputColaborador = document.getElementById("colaborador")
        const radioInputSupervisor = document.getElementById("supervisor")
        const radioInputGerente = document.getElementById("gerente")

        radioInputColaborador.addEventListener("click", function () {
            selectionColaborador.forEach(element => element.classList.remove("d-none"))
            selectionGerente.forEach(element => element.classList.add("d-none"))
            selectionSupervisor.forEach(element => element.classList.add("d-none"))
        })

        radioInputSupervisor.addEventListener("click", function () {
            selectionColaborador.forEach(element => element.classList.add("d-none"))
            selectionGerente.forEach(element => element.classList.add("d-none"))
            selectionSupervisor.forEach(element => element.classList.remove("d-none"))
        })

        radioInputGerente.addEventListener("click", function () {
            selectionColaborador.forEach(element => element.classList.add("d-none"))
            selectionGerente.forEach(element => element.classList.remove("d-none"))
            selectionSupervisor.forEach(element => element.classList.add("d-none"))
        })
    </script>
</body>
</html>