<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Colaboradores</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css}">
</head>
<body>
<nav th:replace="~{fragments/nav-fragment :: nav}"></nav>
    <div class="container my-5 mx-auto">
        <h2 class="mb-4">Cadastro de Colaboradores</h2>
        <form th:if="${!isUpdate}" th:object="${colaborador}" th:action="@{/colaborador/save}" th:method="POST">
            <div th:replace="~{fragments/common-form-fields :: common-form}"></div>

            <section id="gerente-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="gerente" value="Gerente">
                    <label class="form-check-label" for="gerente">
                        Gerente
                    </label>
                </div>
                <section class="overflow-auto selection-section selection-gerente">
                    <p class="mt-2" hidden>Todos os gerentes são subordinados diretamente ao presidente</p>
                    <input type="checkbox" id="president-checkbox" name="presidente-superior" th:value="${1000}" th:field="*{superiorDireto}" hidden>
                </section>
                <section id="supervisor-subordinado-section" class="overflow-auto selection-section selection-gerente" hidden>
                    <p class="mt-2">Selecione os supervisores subordinados a este gerente, caso haja algum:</p>
                    <div  class="container-boxes d-flex justify-content-start gap-2">
                        <div th:each="supervisor:${supervisores}" th:if="${supervisor.superiorDireto == null}" class="div-checkbox form-check">
                            <input type="checkbox" name="subordinados" th:value="${supervisor.getId()}" th:field="*{subordinados}" class="checkbox-input"/>
                            <p th:text="'ID: ' + ${supervisor.getId()}"></p>
                            <p th:text="'Nome: ' + ${supervisor.getNome()}"></p>
                            <p th:text="'CPF: ' + ${supervisor.getCpf()}"></p>
                            <p th:text="'Nível Hierárquerico: ' + ${supervisor.getNivelHierarquico()}"></p>
                        </div>
                    </div>
                </section>
            </section>

            <section id="supervisor-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="supervisor" value="Supervisor">
                    <label class="form-check-label" for="supervisor">
                        Supervisor
                    </label>
                </div>
                <section id="gerente-chefe-section" class="overflow-auto selection-section d-none selection-supervisor">
                    <p class="mt-2">Selecione o gerente deste supervisor, caso haja algum:</p>
                    <div  class="container-boxes d-flex justify-content-start gap-2">
                        <div th:each="gerente:${gerentes}" class="div-radio div-radio-gerente form-check">
                            <input type="radio" name="gerente-chefe" th:value="${gerente.getId()}" th:field="*{superiorDireto}" class="radio-input" />
                            <p th:text="'ID: ' + ${gerente.getId()}"></p>
                            <p th:text="'Nome: ' + ${gerente.getNome()}"></p>
                            <p th:text="'CPF: ' + ${gerente.getCpf()}"></p>
                            <p th:text="'Nível Hierárquerico: ' + ${gerente.getNivelHierarquico()}"></p>
                        </div>
                    </div>
                </section>
                <section id="colaborador-subordinado-section" class="overflow-auto selection-section d-none selection-supervisor">
                    <p class="mt-2">Selecione os subordinados deste colaborador, caso haja algum:</p>
                    <div  class="container-boxes d-flex justify-content-start gap-2">
                        <div th:each="funcionario:${funcionariosMedios}" th:if="${funcionario.superiorDireto == null}" class="div-checkbox form-check checkbox-input">
                            <input type="checkbox" name="subordinados" th:value="${funcionario.getId()}"  th:field="*{subordinados}" class="checkbox-input"/>
                            <p th:text="'ID: ' + ${funcionario.getId()}"></p>
                            <p th:text="'Nome: ' + ${funcionario.getNome()}"></p>
                            <p th:text="'CPF: ' + ${funcionario.getCpf()}"></p>
                            <p th:text="'Nível Hierárquerico: ' + ${funcionario.getNivelHierarquico()}"></p>
                        </div>
                    </div>
                </section>
            </section>

            <section id="colaborador-section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nivelHierarquico" id="colaborador" value="Colaborador">
                    <label class="form-check-label" for="colaborador">
                        Colaborador
                    </label>
                </div>
                <section id="supervisor-chefe-section" class="overflow-auto selection-section d-none selection-colaborador">
                    <p class="mt-2">Selecione o supervisor deste colaborador, caso haja algum:</p>
                    <div  class="container-boxes d-flex justify-content-start gap-2">
                        <div th:each="supervisor:${supervisores}" class="div-radio div-radio-supervisor form-check">
                            <input type="radio" name="supervisor-chefe" th:value="${supervisor.getId()}" th:field="*{superiorDireto}" class="radio-input"/>
                            <p th:text="'ID: ' + ${supervisor.getId()}"></p>
                            <p th:text="'Nome: ' + ${supervisor.getNome()}"></p>
                            <p th:text="'CPF: ' + ${supervisor.getCpf()}"></p>
                            <p th:text="'Nível Hierárquerico: ' + ${supervisor.getNivelHierarquico()}"></p>
                        </div>
                    </div>
                </section>
            </section>

            <button type="submit" class="btn btn-primary my-3">Cadastrar</button>
        </form>
    </div>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script>
        function maskcpf(v){
            v=v.replace(/\D/g,"");
            v=v.replace(/(\d{3})(\d)/,"$1.$2");
            v=v.replace(/(\d{3})(\d)/,"$1.$2");
            v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2");
            return v;
        }

        window.onload = function(){
            const cpfElement = document.getElementById("cpf")
            cpfElement.setAttribute("maxlength", "14")
            cpfElement.onkeyup = function(){
                cpfElement.value = maskcpf(cpfElement.value);
            }
        }

        const radioInputColaborador = document.getElementById("colaborador")
        const radioInputSupervisor = document.getElementById("supervisor")
        const radioInputGerente = document.getElementById("gerente")

        radioInputColaborador.addEventListener("click", function () {
            document.querySelectorAll(".selection-colaborador").forEach(element => element.classList.remove("d-none"))
            document.querySelectorAll(".selection-gerente").forEach(element => element.classList.add("d-none"))
            document.querySelectorAll(".selection-supervisor").forEach(element => element.classList.add("d-none"))
        })

        radioInputSupervisor.addEventListener("click", function () {
            document.querySelectorAll(".selection-colaborador").forEach(element => element.classList.add("d-none"))
            document.querySelectorAll(".selection-gerente").forEach(element => element.classList.add("d-none"))
            document.querySelectorAll(".selection-supervisor").forEach(element => element.classList.remove("d-none"))
        })

        radioInputGerente.addEventListener("click", function () {
            document.querySelectorAll(".selection-colaborador").forEach(element => element.classList.add("d-none"))
            document.querySelectorAll(".selection-gerente").forEach(element => element.classList.remove("d-none"))
            document.querySelectorAll(".selection-supervisor").forEach(element => element.classList.add("d-none"))
        })


        $(document).ready(function(){
            $('.date-input').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                autoclose: true
            });
        });


        const checkboxDivs = document.querySelectorAll(".div-checkbox")
        checkboxDivs.forEach(function(element) {
            element.addEventListener("click", function () {
                const checkbox = element.querySelector("input[type=checkbox]");
                checkbox.checked = true;
                element.classList.toggle("div-checkbox-selected");
            })
        })

        const radioDivs = document.querySelectorAll(".div-radio")
        radioDivs.forEach(function(element) {
            const radio = element.querySelector("input[type=radio]");

            element.addEventListener("click", function () {

                radioDivs.forEach(function(element) {
                    element.classList.remove("div-radio-selected");
                    radio.checked = false;
                })
                element.classList.toggle("div-radio-selected");
                radio.checked = true;
            })
        })
    </script>
</body>
</html>