<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Colaboradores</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav th:replace="~{fragments/nav-fragment :: nav}"></nav>
    <div class="container-fluid my-4 mx-auto">
        <h1 class="text-center">Tabela de colaboradores</h1>
        <section class="table-wrapper overflow-auto m-0 p-0">
            <table class="table table-hover align-middle text-center m-0" style="white-space:nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Admissão</th>
                    <th>Função Exercida</th>
                    <th>Departamento</th>
                    <th>Remuneração</th>
                    <th>Nível Hierárquico</th>
                    <th>Superior direto</th>
                    <th>Subordinados</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="colaborador:${listaColaboradores}">
                    <td th:text="${colaborador.getId()}"></td>
                    <td th:text="${colaborador.getNome()}"></td>
                    <td th:text="${colaborador.getCpf()}"></td>
                    <td th:text="${colaborador.formattedDataAdmissao()}"></td>
                    <td th:text="${colaborador.getFuncaoExercida()}"></td>
                    <td th:text="${colaborador.getDepartamento()}"></td>
                    <td th:text="${colaborador.formattedRemuneracao()}"></td>
                    <td th:text="${colaborador.getNivelHierarquico()}"></td>
                    <td th:if="${colaborador.superiorDireto != null}" th:text="${colaborador.getSuperiorDireto().getNome()}"></td>
                    <td th:if="${colaborador.superiorDireto == null}" th:text="${'-'}"></td>
                    <td>
                        <button class="btn btn-link" th:if="${colaborador.subordinados.size() > 0}" th:text="${colaborador.subordinados.size()}"
                                data-bs-toggle="modal" th:data-bs-target="'#'+${colaborador.nome.toLowerCase().replace(' ', '')+colaborador.id+colaborador.cpf.replace('.','').replace('-','')}"></button>

                        <a th:if="${colaborador.subordinados.size() <= 0}" th:text="${'-'}" disabled></a>
                        <div class="modal fade" th:id="${colaborador.nome.toLowerCase().replace(' ', '')+colaborador.id+colaborador.cpf.replace('.','').replace('-','')}"
                             tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="MyModalLabel">Colaboradores Associados</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-boxes d-flex justify-content-start gap-2">
                                            <div th:each="subordinado:${colaborador.subordinados}" class="form-check div-checkbox box-colorized">
                                                <p th:text="'ID: ' + ${subordinado.id}"></p>
                                                <p th:text="'Nome: '+ ${subordinado.nome}"></p>
                                                <p th:text="'CPF: ' + ${subordinado.cpf}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="justify-content-center align-middle gap-2">
                        <div th:if="${colaborador.nivelHierarquico != 'Presidente'}">
                            <a th:href="@{/colaborador/cadastro/{id}(id=${colaborador.getId()})}" class="text-decoration-none btn btn-primary m-0">Editar</a>
                            <button th:data-id="${colaborador.getId()}" class="btn btn-danger m-0" onclick="deletar(this.getAttribute('data-id'))">Deletar</button>
                        </div>
                        <div th:if="${colaborador.nivelHierarquico == 'Presidente'}">
                            <button class="text-decoration-none btn btn-primary m-0" disabled>Editar</button>
                            <button class="btn btn-danger m-0" disabled>Deletar</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <button class="btn btn-dark mt-2" onclick="cadastrar()">Cadastrar +</button>
    </div>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

<script rel="stylesheet" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
    function deletar(id) {
        fetch("/colaborador/delete/" + id, {
            method: "DELETE"
        }).then(function() {
            window.location.reload()
        })
    }

    function cadastrar() {
        window.location.href = "/colaborador/cadastro"
    }
</script>
</body>
</html>
