<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Colaboradores</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css}">
</head>
<body>
<nav th:replace="~{fragments/nav-fragment :: nav}"></nav>
<div class="container my-5 mx-auto">
    <h2 class="mb-4" th:text="${'Atualizar - colaborador #' + colaborador.id}"></h2>
    <form th:if="${isUpdate}" id="form-main" th:object="${colaborador}" th:action="@{/colaborador/update/{id}(id=${colaborador.getId()})}" th:method="PUT">
        <div th:replace="~{fragments/common-form-fields :: common-form}"></div>
        <input class="form-check-input" type="radio" name="nivelHierarquico" th:id="*{nivelHierarquico}" th:value="*{nivelHierarquico}" th:field="*{nivelHierarquico}">
        <label class="form-check-label" th:for="*{nivelHierarquico}" th:text="*{nivelHierarquico}">
        </label>
        <div th:if="*{nivelHierarquico == 'Gerente'}">
            <input type="checkbox" id="president-checkbox" name="presidente-superior" th:value="${1000}" th:field="*{superiorDireto}" hidden>
            <section th:replace="~{fragments/common-form-fields :: gerente-form-field}"></section>
        </div>
        <div th:if="*{nivelHierarquico == 'Supervisor'}">
            <section th:replace="~{fragments/common-form-fields :: supervisor-form-fields}"></section>
        </div>
        <div th:if="*{nivelHierarquico == 'Colaborador'}">
            <section th:replace="~{fragments/common-form-fields :: colaborador-form-field}"></section>
        </div>
        <button type="submit" class="btn btn-primary my-3 d-block submit-form-btn">Atualizar</button>
    </form>
</div>
<footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
<script th:src="@{/register-common-scripts.js}"></script>
<script>
    window.onload = function(){
        const checkElements = document.querySelectorAll(".checkbox-input, .radio-input")
        checkElements.forEach(function(element) {
            if (element.checked === true) {
                element.parentElement.classList.add("div-checkbox-selected")
            }
        })
    }
</script>
</body>
</html>